#box1{
    background-color: blue;
}
#box2{
    background-color: orangered;
}
#box3{
    background-color: dodgerblue;
}
#box4{
    background-color: forestgreen;
}
.box{
    height: 36px;
    width: 36px;
    border: black 1px solid;
    margin-top: 25px;
    padding: 7px;
}